<template>
  <div id="article-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Active</th>
            </tr>
            </thead>
            <tbody>
            <tr v-on:click="onRowClick(i)" v-for="(article, i) in articles" :key="article.id"
                v-bind:class="{ 'table-info': article.id === activeArticle.id }">
              <td>{{ article.id }}</td>
              <td>{{ article.name }}</td>
              <td>{{ article.price }}</td>
              <td>{{ article.active }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h5>Edit Article</h5>
          <form v-on:submit="onSave()" v-if="activeArticle.id > 0">
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="id">Number:</label>
              <div class="col-sm-9">
                <input v-model="activeArticle.id" class="form-control-plaintext" id="id" readonly type="text"/>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="name">Name:</label>
              <div class="col-sm-9">
                <input v-model="activeArticle.name" class="form-control" id="name" type="text"/>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="price">Price:</label>
              <div class="col-sm-9">
                <input v-model="activeArticle.price" class="form-control" id="price" type="text"/>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="active">Active:</label>
              <div class="col-sm-9">
                <input v-model="activeArticle.active" class="form-check-input" id="active" type="checkbox"/>
              </div>
            </div>
            <div class="form-group mt-3">
              <button class="btn btn-primary">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
import axios from "axios";

export default {
  name: 'ArticleAdministration',
  props: {},
  mounted() {
    axios.get('http://34.143.132.249/article').then((response) => {
      this.articles = response.data;
      this.activeArticle = this.articles[0];
    })
  },
  data() {
    return {
      articles: [],
      activeArticle: {}
    }
  },
  methods: {
    onRowClick(rowIndex) {
      this.setActive(rowIndex);
    },
    setActive(rowIndex) {
      this.activeArticle = this.articles[rowIndex];
    },
    onSave() {
      alert('Save data was clicked.');
    }
  }
}
</script>

<style scoped>

#article-container:hover {
  padding: 1em;
  border: 3px solid #db9621;
}

#article-container:not(:empty):hover::after {
  content: 'Team Article (Vue.js)';
  background: white;
  position: absolute;
  margin-top: 4px;
  padding: 5px;
  color: #db9621;
}
</style>
